In [1]:
cd ../..

/Users/ericpei/Documents/GalvClas/fantasy-score-predictor

In [2]:
from scripts import MakeDF

In [3]:
from scripts import RandomForest

/Users/ericpei/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [4]:
#MakeDF.create_csvs('alldata')

In [5]:
df = MakeDF.create_df()

In [6]:
df = MakeDF.clean_df(df)

scripts/MakeDF.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['MP'] = df['MP'].map(lambda x: '0:00' if ":" not in str(x) else str(x))

In [7]:
df = MakeDF.add_features(df)

In [8]:
Player_Averages = MakeDF.make_averages(df)

In [9]:
date_matrix = MakeDF.get_date_matrix(df)

In [10]:
MakeDF.previous_sp(9, date_matrix)

215

In [11]:
date_matrix[0:10]

array([['A.J. Price', Timestamp('2009-10-30 00:00:00'),
        Timestamp('2009-10-29 00:00:00'), Timestamp('2009-10-28 00:00:00'),
        Timestamp('2009-10-27 00:00:00'), Timestamp('2009-10-26 00:00:00'),
        79],
       ['A.J. Price', Timestamp('2009-11-03 00:00:00'),
        Timestamp('2009-11-02 00:00:00'), Timestamp('2009-11-01 00:00:00'),
        Timestamp('2009-10-31 00:00:00'), Timestamp('2009-10-30 00:00:00'),
        369],
       ['A.J. Price', Timestamp('2009-11-06 00:00:00'),
        Timestamp('2009-11-05 00:00:00'), Timestamp('2009-11-04 00:00:00'),
        Timestamp('2009-11-03 00:00:00'), Timestamp('2009-11-02 00:00:00'),
        685],
       ['A.J. Price', Timestamp('2009-11-11 00:00:00'),
        Timestamp('2009-11-10 00:00:00'), Timestamp('2009-11-09 00:00:00'),
        Timestamp('2009-11-08 00:00:00'), Timestamp('2009-11-07 00:00:00'),
        487],
       ['A.J. Price', Timestamp('2009-11-22 00:00:00'),
        Timestamp('2009-11-21 00:00:00'), Timestamp('2009-11-20 00:00:00'),
        Timestamp('2009-11-19 00:00:00'), Timestamp('2009-11-18 00:00:00'),
        332],
       ['A.J. Price', Timestamp('2009-12-09 00:00:00'),
        Timestamp('2009-12-08 00:00:00'), Timestamp('2009-12-07 00:00:00'),
        Timestamp('2009-12-06 00:00:00'), Timestamp('2009-12-05 00:00:00'),
        981],
       ['A.J. Price', Timestamp('2009-12-16 00:00:00'),
        Timestamp('2009-12-15 00:00:00'), Timestamp('2009-12-14 00:00:00'),
        Timestamp('2009-12-13 00:00:00'), Timestamp('2009-12-12 00:00:00'),
        588],
       ['A.J. Price', Timestamp('2009-12-18 00:00:00'),
        Timestamp('2009-12-17 00:00:00'), Timestamp('2009-12-16 00:00:00'),
        Timestamp('2009-12-15 00:00:00'), Timestamp('2009-12-14 00:00:00'),
        245],
       ['A.J. Price', Timestamp('2009-12-26 00:00:00'),
        Timestamp('2009-12-25 00:00:00'), Timestamp('2009-12-24 00:00:00'),
        Timestamp('2009-12-23 00:00:00'), Timestamp('2009-12-22 00:00:00'),
        215],
       ['A.J. Price', Timestamp('2009-12-27 00:00:00'),
        Timestamp('2009-12-26 00:00:00'), Timestamp('2009-12-25 00:00:00'),
        Timestamp('2009-12-24 00:00:00'), Timestamp('2009-12-23 00:00:00'),
        720]], dtype=object)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288248 entries, 0 to 288247
Data columns (total 43 columns):
Player Name    288248 non-null object
FG             288248 non-null int64
FGA            288248 non-null int64
FG%            288248 non-null float64
3P             288248 non-null int64
3PA            288248 non-null int64
3P%            288248 non-null float64
FT             288248 non-null int64
FTA            288248 non-null int64
FT%            288248 non-null float64
ORB            288248 non-null int64
DRB            288248 non-null int64
TRB            288248 non-null int64
AST            288248 non-null int64
STL            288248 non-null int64
BLK            288248 non-null int64
TOV            288248 non-null int64
PF             288248 non-null int64
PTS            288248 non-null int64
+/-            288248 non-null int64
TS%            288248 non-null float64
eFG%           288248 non-null float64
3PAr           288248 non-null float64
FTr            288248 non-null float64
ORB%           288248 non-null float64
DRB%           288248 non-null float64
TRB%           288248 non-null float64
AST%           288248 non-null float64
STL%           288248 non-null float64
BLK%           288248 non-null float64
TOV%           288248 non-null float64
USG%           288248 non-null float64
ORtg           288248 non-null float64
DRtg           288248 non-null float64
Away           288248 non-null object
Home           288248 non-null object
OneisHome      288248 non-null int64
Date           288248 non-null datetime64[ns]
SP             288248 non-null int64
DateM1         288248 non-null datetime64[ns]
DateM2         288248 non-null datetime64[ns]
DateM3         288248 non-null datetime64[ns]
DateM4         288248 non-null datetime64[ns]
dtypes: datetime64[ns](5), float64(17), int64(18), object(3)
memory usage: 96.8+ MB

In [13]:
MakeDF.addcolumns(MakeDF.make_lists(date_matrix), df)

In [14]:
df[100000:110000]

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,Date,SP,DateM1,DateM2,DateM3,DateM4,SP_1dayago,SP_2dayago,SP_3dayago,SP_4dayago
100000,Glen Davis,4,8,0.500,0,0,0.000,0,0,0.000,...,2009-02-23,1682,2009-02-22,2009-02-21,2009-02-20,2009-02-19,1474,0,0,986
100001,Glen Davis,5,7,0.714,0,0,0.000,4,6,0.667,...,2009-02-25,1609,2009-02-24,2009-02-23,2009-02-22,2009-02-21,0,1682,1474,0
100002,Glen Davis,6,12,0.500,0,0,0.000,6,9,0.667,...,2009-02-27,1499,2009-02-26,2009-02-25,2009-02-24,2009-02-23,0,1609,0,1682
100003,Glen Davis,7,13,0.538,0,0,0.000,4,7,0.571,...,2009-03-01,2142,2009-02-28,2009-02-27,2009-02-26,2009-02-25,0,1499,0,1609
100004,Glen Davis,3,8,0.375,0,0,0.000,0,0,0.000,...,2009-03-04,2093,2009-03-03,2009-03-02,2009-03-01,2009-02-28,0,0,2142,0
100005,Glen Davis,5,8,0.625,0,0,0.000,0,1,0.000,...,2009-03-06,1028,2009-03-05,2009-03-04,2009-03-03,2009-03-02,0,2093,0,0
100006,Glen Davis,0,3,0.000,0,0,0.000,0,0,0.000,...,2009-03-08,1117,2009-03-07,2009-03-06,2009-03-05,2009-03-04,0,1028,0,2093
100007,Glen Davis,4,9,0.444,0,0,0.000,0,0,0.000,...,2009-03-18,2456,2009-03-17,2009-03-16,2009-03-15,2009-03-14,0,0,0,0
100008,Glen Davis,2,5,0.400,0,0,0.000,3,6,0.500,...,2009-03-20,1606,2009-03-19,2009-03-18,2009-03-17,2009-03-16,0,2456,0,0
100009,Glen Davis,8,11,0.727,0,0,0.000,8,9,0.889,...,2009-03-21,1762,2009-03-20,2009-03-19,2009-03-18,2009-03-17,1606,0,2456,0
100010,Glen Davis,1,11,0.091,0,0,0.000,6,6,1.000,...,2009-03-23,1734,2009-03-22,2009-03-21,2009-03-20,2009-03-19,0,1762,1606,0
100011,Glen Davis,2,5,0.400,0,0,0.000,2,4,0.500,...,2009-03-25,2007,2009-03-24,2009-03-23,2009-03-22,2009-03-21,0,1734,0,1762
100012,Glen Davis,8,18,0.444,0,0,0.000,3,5,0.600,...,2009-03-27,2588,2009-03-26,2009-03-25,2009-03-24,2009-03-23,0,2007,0,1734
100013,Glen Davis,8,14,0.571,0,0,0.000,3,6,0.500,...,2009-03-29,1928,2009-03-28,2009-03-27,2009-03-26,2009-03-25,0,2588,0,2007
100014,Glen Davis,1,4,0.250,0,0,0.000,3,6,0.500,...,2009-04-01,2368,2009-03-31,2009-03-30,2009-03-29,2009-03-28,0,0,1928,0
100015,Glen Davis,7,10,0.700,0,0,0.000,5,6,0.833,...,2009-04-03,1757,2009-04-02,2009-04-01,2009-03-31,2009-03-30,0,2368,0,0
100016,Glen Davis,3,8,0.375,0,0,0.000,2,2,1.000,...,2009-04-08,1900,2009-04-07,2009-04-06,2009-04-05,2009-04-04,0,0,0,0
100017,Glen Davis,8,17,0.471,0,0,0.000,6,6,1.000,...,2009-04-10,2234,2009-04-09,2009-04-08,2009-04-07,2009-04-06,0,1900,0,0
100018,Glen Davis,5,14,0.357,0,0,0.000,2,2,1.000,...,2009-04-12,2238,2009-04-11,2009-04-10,2009-04-09,2009-04-08,0,2234,0,1900
100019,Glen Davis,7,13,0.538,0,1,0.000,1,2,0.500,...,2009-04-14,2039,2009-04-13,2009-04-12,2009-04-11,2009-04-10,0,2238,0,2234
100020,Glen Davis,8,17,0.471,1,2,0.500,4,8,0.500,...,2009-04-15,1782,2009-04-14,2009-04-13,2009-04-12,2009-04-11,2039,0,2238,0
100021,Glen Davis,0,1,0.000,0,0,0.000,0,0,0.000,...,2009-12-25,227,2009-12-24,2009-12-23,2009-12-22,2009-12-21,0,0,0,0
100022,Glen Davis,3,4,0.750,0,0,0.000,2,2,1.000,...,2009-12-27,893,2009-12-26,2009-12-25,2009-12-24,2009-12-23,0,227,0,0
100023,Glen Davis,1,5,0.200,0,0,0.000,1,1,1.000,...,2009-12-28,615,2009-12-27,2009-12-26,2009-12-25,2009-12-24,893,0,227,0
100024,Glen Davis,5,9,0.556,0,0,0.000,5,7,0.714,...,2010-01-02,1182,2010-01-01,2009-12-31,2009-12-30,2009-12-29,0,0,0,0
100025,Glen Davis,0,3,0.000,0,0,0.000,1,2,0.500,...,2010-01-06,1170,2010-01-05,2010-01-04,2010-01-03,2010-01-02,0,0,0,1182
100026,Glen Davis,1,4,0.250,0,0,0.000,2,2,1.000,...,2010-01-08,776,2010-01-07,2010-01-06,2010-01-05,2010-01-04,0,1170,0,0
100027,Glen Davis,1,5,0.200,0,0,0.000,0,0,0.000,...,2010-01-10,1096,2010-01-09,2010-01-08,2010-01-07,2010-01-06,0,776,0,1170
100028,Glen Davis,4,6,0.667,0,0,0.000,5,6,0.833,...,2010-01-11,1651,2010-01-10,2010-01-09,2010-01-08,2010-01-07,1096,0,776,0
100029,Glen Davis,5,8,0.625,0,0,0.000,3,6,0.500,...,2010-01-13,1082,2010-01-12,2010-01-11,2010-01-10,2010-01-09,0,1651,1096,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109970,Ish Smith,8,13,0.615,1,2,0.500,2,3,0.667,...,2015-03-02,1649,2015-03-01,2015-02-28,2015-02-27,2015-02-26,1475,0,1587,0
109971,Ish Smith,1,5,0.200,0,1,0.000,0,2,0.000,...,2015-03-04,878,2015-03-03,2015-03-02,2015-03-01,2015-02-28,0,1649,1475,0
109972,Ish Smith,6,13,0.462,0,1,0.000,2,2,1.000,...,2015-03-06,1363,2015-03-05,2015-03-04,2015-03-03,2015-03-02,0,878,0,1649
109973,Ish Smith,4,13,0.308,1,3,0.333,0,1,0.000,...,2015-03-07,1297,2015-03-06,2015-03-05,2015-03-04,2015-03-03,1363,0,878,0
109974,Ish Smith,9,21,0.429,3,7,0.429,2,2,1.000,...,2015-03-11,2236,2015-03-10,2015-03-09,2015-03-08,2015-03-07,0,0,0,1297
109975,Ish Smith,3,11,0.273,0,2,0.000,4,6,0.667,...,2015-03-13,1478,2015-03-12,2015-03-11,2015-03-10,2015-03-09,0,2236,0,0
109976,Ish Smith,3,10,0.300,1,3,0.333,2,2,1.000,...,2015-03-14,1404,2015-03-13,2015-03-12,2015-03-11,2015-03-10,1478,0,2236,0
109977,Ish Smith,7,13,0.538,1,2,0.500,1,2,0.500,...,2015-03-16,1594,2015-03-15,2015-03-14,2015-03-13,2015-03-12,0,1404,1478,0
109978,Ish Smith,6,12,0.500,0,1,0.000,3,4,0.750,...,2015-03-18,1558,2015-03-17,2015-03-16,2015-03-15,2015-03-14,0,1594,0,1404
109979,Ish Smith,7,16,0.438,1,3,0.333,0,0,0.000,...,2015-03-20,1693,2015-03-19,2015-03-18,2015-03-17,2015-03-16,0,1558,0,1594
109980,Ish Smith,3,14,0.214,0,1,0.000,3,3,1.000,...,2015-03-22,1730,2015-03-21,2015-03-20,2015-03-19,2015-03-18,0,1693,0,1558
109981,Ish Smith,5,14,0.357,1,2,0.500,2,2,1.000,...,2015-03-24,1770,2015-03-23,2015-03-22,2015-03-21,2015-03-20,0,1730,0,1693
109982,Ish Smith,4,9,0.444,1,1,1.000,0,0,0.000,...,2015-03-25,1614,2015-03-24,2015-03-23,2015-03-22,2015-03-21,1770,0,1730,0
109983,Ish Smith,8,14,0.571,2,2,1.000,0,1,0.000,...,2015-03-27,1941,2015-03-26,2015-03-25,2015-03-24,2015-03-23,0,1614,1770,0
109984,Ish Smith,5,16,0.313,0,4,0.000,1,1,1.000,...,2015-03-29,1830,2015-03-28,2015-03-27,2015-03-26,2015-03-25,0,1941,0,1614
109985,Ish Smith,8,20,0.400,1,3,0.333,0,0,0.000,...,2015-03-30,1912,2015-03-29,2015-03-28,2015-03-27,2015-03-26,1830,0,1941,0
109986,Ish Smith,11,17,0.647,1,2,0.500,0,0,0.000,...,2015-04-01,1800,2015-03-31,2015-03-30,2015-03-29,2015-03-28,0,1912,1830,0
109987,Ish Smith,6,20,0.300,1,5,0.200,2,4,0.500,...,2015-04-04,1995,2015-04-03,2015-04-02,2015-04-01,2015-03-31,0,0,1800,0
109988,Ish Smith,8,18,0.444,1,4,0.250,0,1,0.000,...,2015-04-05,1897,2015-04-04,2015-04-03,2015-04-02,2015-04-01,1995,0,0,1800
109989,Ish Smith,1,9,0.111,0,2,0.000,1,2,0.500,...,2015-04-08,1523,2015-04-07,2015-04-06,2015-04-05,2015-04-04,0,0,1897,1995
109990,Ish Smith,0,0,0.000,0,0,0.000,0,0,0.000,...,2015-04-11,0,2015-04-10,2015-04-09,2015-04-08,2015-04-07,0,0,1523,0
109991,Ish Smith,2,7,0.286,0,1,0.000,0,0,0.000,...,2015-04-13,2043,2015-04-12,2015-04-11,2015-04-10,2015-04-09,0,0,0,0
109992,Ish Smith,0,0,0.000,0,0,0.000,0,0,0.000,...,2015-04-15,0,2015-04-14,2015-04-13,2015-04-12,2015-04-11,0,2043,0,0
109993,Ish Smith,7,13,0.538,1,2,0.500,2,4,0.500,...,2015-10-27,2281,2015-10-26,2015-10-25,2015-10-24,2015-10-23,0,0,0,0
109994,Ish Smith,3,14,0.214,1,3,0.333,0,2,0.000,...,2015-10-28,1715,2015-10-27,2015-10-26,2015-10-25,2015-10-24,2281,0,0,0
109995,Ish Smith,2,6,0.333,0,1,0.000,0,0,0.000,...,2015-10-31,659,2015-10-30,2015-10-29,2015-10-28,2015-10-27,0,0,1715,2281
109996,Ish Smith,1,3,0.333,1,1,1.000,0,0,0.000,...,2015-11-03,996,2015-11-02,2015-11-01,2015-10-31,2015-10-30,0,0,659,0
109997,Ish Smith,4,11,0.364,0,3,0.000,0,0,0.000,...,2015-11-06,2047,2015-11-05,2015-11-04,2015-11-03,2015-11-02,0,0,996,0
109998,Ish Smith,3,14,0.214,1,3,0.333,0,0,0.000,...,2015-11-07,1963,2015-11-06,2015-11-05,2015-11-04,2015-11-03,2047,0,0,996
109999,Ish Smith,6,11,0.545,0,0,0.000,5,5,1.000,...,2015-11-10,1627,2015-11-09,2015-11-08,2015-11-07,2015-11-06,0,0,1963,2047

In [15]:
tp_matrix = df[['Player Name', '3P']].values
fg_matrix = df[['Player Name', 'FG']].values
ft_matrix = df[['Player Name', 'FT']].values
reb_matrix = df[['Player Name', 'TRB']].values
ast_matrix = df[['Player Name', 'AST']].values
blk_matrix = df[['Player Name', 'BLK']].values
stl_matrix = df[['Player Name', 'STL']].values
tov_matrix = df[['Player Name', 'TOV']].values

In [16]:
MakeDF.add_slag_columns(MakeDF.make_stat_lists(Player_Averages, matrix=tp_matrix, column='3P'), df, name='TP')
MakeDF.add_slag_columns(MakeDF.make_stat_lists(Player_Averages, matrix=fg_matrix, column='FG'), df, name='FG')
MakeDF.add_slag_columns(MakeDF.make_stat_lists(Player_Averages, matrix=ft_matrix, column='FT'), df, name='FT')
MakeDF.add_slag_columns(MakeDF.make_stat_lists(Player_Averages, matrix=reb_matrix, column='TRB'), df, name='TRB')
MakeDF.add_slag_columns(MakeDF.make_stat_lists(Player_Averages, matrix=ast_matrix, column='AST'), df, name='AST')
MakeDF.add_slag_columns(MakeDF.make_stat_lists(Player_Averages, matrix=blk_matrix, column='BLK'), df, name='BLK')
MakeDF.add_slag_columns(MakeDF.make_stat_lists(Player_Averages, matrix=stl_matrix, column='STL'), df, name='STL')
MakeDF.add_slag_columns(MakeDF.make_stat_lists(Player_Averages, matrix=tov_matrix, column='TOV'), df, name='TOV')

In [17]:
df.head()

,Player Name,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,...,BLK3dayago,BLK4dayago,STL1dayago,STL2dayago,STL3dayago,STL4dayago,TOV1dayago,TOV2dayago,TOV3dayago,TOV4dayago
0,A.J. Price,0,0,0.000,0,0,0.0,0,0,0.0,...,0.030303,0.030303,0.420875,0.420875,0.420875,0.420875,0.771044,0.771044,0.771044,0.771044
1,A.J. Price,1,2,0.500,1,2,0.5,0,0,0.0,...,0.030303,0.030303,0.000000,0.420875,0.420875,0.420875,0.000000,0.771044,0.771044,0.771044
2,A.J. Price,2,4,0.500,2,4,0.5,0,0,0.0,...,0.030303,0.030303,0.000000,0.000000,0.420875,0.420875,0.000000,0.000000,0.771044,0.771044
3,A.J. Price,0,1,0.000,0,0,0.0,1,2,0.5,...,0.000000,0.030303,1.000000,0.000000,0.000000,0.420875,0.000000,0.000000,0.000000,0.771044
4,A.J. Price,2,3,0.667,1,2,0.5,1,1,1.0,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

# PLAY HERE

In [139]:
forest_df, y_df = RandomForest.prepare_for_forest(df)

In [140]:
Stephcurry, Stephcurry_X, Stephcurry_y = RandomForest.individual_forest_df(forest_df, y_df, 'Stephen Curry')

In [141]:
X_train, X_test, y_train, y_test = RandomForest.crossval_player(Stephcurry, forest_df[forest_df["Player Name"] != 'Stephen Curry'], y_df[y_df['Player Name'] != 'Stephen Curry'], cat=2)
X_train2, X_test2, y_train2, y_test2 = RandomForest.crossval_player(Stephcurry, Stephcurry_X, Stephcurry_y, cat=5)

In [142]:
from sklearn.ensemble import RandomForestRegressor

In [143]:
X_train = pd.concat([X_train, X_train2])
y_train = pd.concat([y_train, y_train2])

In [144]:
everyFGmean = X_train.FG1dayago.mean()
stephFGmean = X_train2.FG1dayago.mean()

In [145]:
len(X_test), len(X_test2)

(71938, 125)

In [146]:
benchmark = np.full(len(X_test), everyFGmean)
s_benchmark = np.full(len(X_test2), stephFGmean)

In [147]:
rf = RandomForestRegressor()
rf2 = RandomForestRegressor()

In [148]:
rf.fit(X_train, y_train)
rf2.fit(X_train2, y_train2)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [149]:
rf.feature_importances_

array([ 0.01747209,  0.0174926 ,  0.01796633,  0.0182913 ,  0.00824882,
        0.00836704,  0.00830893,  0.00898474,  0.25240743,  0.09590797,
        0.04652908,  0.0763949 ,  0.02049739,  0.01984471,  0.02019723,
        0.02045395,  0.00567864,  0.01603747,  0.03352013,  0.0274441 ,
        0.02503571,  0.01099906,  0.01084172,  0.01095391,  0.01091302,
        0.01565342,  0.01516899,  0.01555726,  0.01565174,  0.00884789,
        0.0086213 ,  0.0090937 ,  0.00960124,  0.02288542,  0.02306255,
        0.02328865,  0.02377956])

In [150]:
y_predict = rf.predict(X_test)
y_predict2 = rf2.predict(X_test2)

In [151]:
from sklearn.metrics import mean_squared_error

In [152]:
mean_squared_error(y_test, y_predict), mean_squared_error(y_test2, y_predict2)

(5.7199371047860064, 11.352160000000001)

In [154]:
mean_squared_error(y_test, benchmark), mean_squared_error(y_test2, s_benchmark)

(9.2851780490041058, 12.323725054919644)

In [155]:
y_predict3 = rf.predict(X_test2)
mean_squared_error(y_test2, y_predict3)

11.448399999999999

In [135]:
y_test2, y_predict3

(255835     3
 256052     8
 255917    10
 256086    13
 255836     5
 255845     4
 256096    12
 256180     9
 256231    11
 255914     2
 256192     3
 256116     8
 255968     2
 255814     7
 255952     7
 256068     9
 256218     4
 255994     2
 255840     6
 255904     5
 255881     6
 256163     5
 256146    12
 256056     2
 256167     5
 256242     9
 256170     5
 256063    14
 256073    14
 256216     8
           ..
 256055    11
 255955     4
 255817     1
 256132     5
 255855    10
 256187    11
 256294     6
 256090     7
 255973     5
 256260     7
 255852     9
 256270    12
 255841     6
 255901     3
 256006     2
 255867     4
 256288    14
 255969     7
 256050     8
 255940     1
 255849     8
 255926     4
 256152     7
 255861     1
 256264     0
 256119    13
 255884     8
 256273     9
 255988     3
 255943    13
 Name: FG, dtype: int64,
 array([  5.3,   5.9,   4.1,   6.2,   6.5,   4.6,   5.4,   7.3,   5.5,
          6.2,   7.6,   5.6,   6.3,   6. ,   6.1,   9. ,   5. ,   3.6,
          4.5,   6.7,   5.1,   5.2,   7.4,   7.8,   8.9,   9.1,   6.8,
          8. ,   7.2,   4.7,   1.8,   8.9,   7.5,   3.8,   2.9,   6.9,
          7.1,   5.3,   6.7,   8.6,   9. ,   5.2,   9.9,   4.8,   5.8,
         10.5,   4.8,   5.7,   6.2,   5.8,   4.1,   5.3,   5.3,   7.9,
          8.6,   7.6,   9.6,   7.7,   7.6,   8.4,   5.7,   5.5,   8.5,
          4.8,   5.8,   6.1,   7.9,   3.9,   9.1,   7.4,   6.4,   4.5,
          4.9,   3.6,   5.2,   9.1,  10.2,   6.6,   6.8,   5.4,   7.7,
          7.6,   7.1,   5.6,   7. ,   8.6,   8. ,   9.2,   8.2,   7.7,
          7.2,   6.4,   5.9,   6.6,   7.6,   7.2,   5.9,   4.7,   8.1,
          7.4,   7.4,  10.4,   6.9,   5.1,   9.7,   4.4,   6.7,   7. ,
          7.5,   7.4,   7.7,   7.5,   4.6,   8.8,   6.9,   4.2,   5.9,
          6.7,   5.3,   5.6,   8. ,   5.6,   9. ,   4.2,   6.6]))

In [31]:
import matplotlib.pyplot as plt

In [32]:
y_df

               Player Name  3P  FG  FT  TRB  AST  BLK  STL  TOV
0               A.J. Price   0   0   0    0    0    0    0    0
1               A.J. Price   1   1   0    0    1    0    0    0
2               A.J. Price   2   2   0    0    0    0    1    0
3               A.J. Price   0   0   1    1    1    0    0    0
4               A.J. Price   1   2   1    0    0    0    0    1
5               A.J. Price   0   2   0    3    2    0    0    1
6               A.J. Price   0   2   1    3    0    0    0    1
7               A.J. Price   0   0   0    2    0    0    0    0
8               A.J. Price   0   1   2    1    0    0    0    0
9               A.J. Price   1   3   2    3    1    0    0    0
10              A.J. Price   1   1   0    0    0    0    0    0
11              A.J. Price   0   1   0    2    4    0    0    0
12              A.J. Price   1   3   1    3    6    0    1    0
13              A.J. Price   0   5   1    3    1    0    2    1
14              A.J. Price   1   2   2    3    3    0    0    2
15              A.J. Price   2   3   2    1    7    0    0    1
16              A.J. Price   3   9   2    0    3    0    2    2
17              A.J. Price   2   5   4    1    2    1    0    3
18              A.J. Price   1   1   0    0    3    0    0    2
19              A.J. Price   1   2   3    0    5    0    1    2
20              A.J. Price   1   5   1    2    2    0    1    0
21              A.J. Price   2   3   0    2    2    0    1    2
22              A.J. Price   0   3   0    4    0    0    1    4
23              A.J. Price   1   3   2    2    3    0    0    3
24              A.J. Price   4   5   3    3    0    0    2    3
25              A.J. Price   1   3   0    1    0    0    0    1
26              A.J. Price   1   2   0    2    2    0    0    1
27              A.J. Price   2   4   0    1    0    0    0    2
28              A.J. Price   1   3   1    3    1    0    1    0
29              A.J. Price   0   3   2    0    2    0    0    0
...                    ...  ..  ..  ..  ...  ...  ...  ...  ...
288218  Zydrunas Ilgauskas   0   1   0    1    0    0    0    0
288219  Zydrunas Ilgauskas   0   1   2    1    0    1    0    1
288220  Zydrunas Ilgauskas   0   0   0    0    0    0    0    0
288221  Zydrunas Ilgauskas   0   2   1    6    0    1    0    0
288222  Zydrunas Ilgauskas   0   4   0    5    0    0    1    1
288223  Zydrunas Ilgauskas   0   5   2   14    0    1    0    1
288224  Zydrunas Ilgauskas   0   0   0    0    0    0    1    0
288225  Zydrunas Ilgauskas   0   6   1    3    0    1    0    0
288226  Zydrunas Ilgauskas   0   2   0    4    0    0    0    1
288227  Zydrunas Ilgauskas   0   0   0    3    0    1    0    1
288228  Zydrunas Ilgauskas   0   5   0    6    2    2    0    2
288229  Zydrunas Ilgauskas   0   4   1    1    1    2    0    0
288230  Zydrunas Ilgauskas   0   2   0    5    0    3    0    0
288231  Zydrunas Ilgauskas   0   3   0    0    0    0    0    2
288232  Zydrunas Ilgauskas   0   3   2    5    0    1    0    0
288233  Zydrunas Ilgauskas   0   0   0    1    0    0    0    0
288234  Zydrunas Ilgauskas   0   3   0    1    0    0    0    0
288235  Zydrunas Ilgauskas   0   1   0    4    0    0    1    2
288236  Zydrunas Ilgauskas   0   0   0    0    1    0    0    0
288237  Zydrunas Ilgauskas   0   2   0    3    0    1    2    1
288238  Zydrunas Ilgauskas   0   1   0    3    0    0    0    1
288239  Zydrunas Ilgauskas   0   0   0    0    0    0    0    1
288240  Zydrunas Ilgauskas   0   1   0    0    0    0    0    0
288241  Zydrunas Ilgauskas   0   0   0    0    0    0    0    0
288242  Zydrunas Ilgauskas   0   5   1    4    1    1    1    2
288243  Zydrunas Ilgauskas   0   0   0    0    1    0    0    0
288244  Zydrunas Ilgauskas   0   5   0    4    1    0    0    1
288245  Zydrunas Ilgauskas   0   4   0    5    0    0    1    0
288246  Zydrunas Ilgauskas   0   1   2    2    1    0    0    0
288247  Zydrunas Ilgauskas   0   3   3    4    2    0    0    1

[288248 rows x 9 columns]